
a.app-name {
    background-color: white;
    color: #877F6C;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.app-name:hover {
    background-color: #877F6C;
    color: white;
}

div.nav-bar > div > a {
    background-color: white;
    color: #B4A582;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

div.nav-bar > div > a:hover {
    background-color: #4CAF50;
    color: white;
}

footer {
    background-color: rgb(55, 156, 150);
    width: 100%;
    bottom: 0;
}

i.wi {
    background-color: white;
}

i.wi:hover {
    background-color: rgb(76, 80, 82);
    color: white;
}

i.wi:active {
    background-color: rgb(62, 114, 201);
}

div.nav-bar {
    margin-top: 15px;
}

div.weather-details > p {
    margin-top: 5px;
}

div.location-details > p {
    margin-top: 5px;
}

li {
    list-style-type: none;
}

section {
    margin-top: 15px;
}

div.social-links {
    padding-left: 0px;
    margin-left: -5px;
}

div.social-links > ul {
    padding-left: 5px;
}

div.random-quote {
    text-align: left;
}

p.quote-author {
    text-align: right;
}

img.powered-by-darksky {
    height: 48px;
}
