
footer {
    background-color: rgb(55, 156, 150);
    width: 100%;
    bottom: 0;
}

i.wi {
    background-color: white;
}

i.wi:hover {
    background-color: rgb(76, 80, 82);
    color: white;
}

i.wi:active {
    background-color: rgb(62, 114, 201);
}

div.nav-bar {
    margin-top: 15px;
}

div.weather-details > p {
    margin-top: 5px;
}

div.location-details > p {
    margin-top: 5px;
}

div.random-quote {
    text-align: left;
}

p.quote-auther {
    text-align: right;
}

img.powered-by-darksky {
    height: 48px;
}
